<div class="row">
  <div class="col-md-11">
    <input vs-google-autocomplete
         ng-model="vmMain.address.name"
         vs-city="vmMain.address.components.city"
         vs-post-code="vmMain.address.components.postCode"
         type="text"
         name="address"
         id="address"
         class="form-control input-group-lg"
         placeholder="Ingresa dirección, ciudad o código postal">
  </div>
  <div class="col-md-1">
    <button type="button"
            name="button"
            class="btn btn-default"
            ng-click="vmMain.search()"
            ng-disabled="!vmMain.address.components.city">Buscar</button>
  </div>
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

  <div class="row marketing">
    <div class="result" ng-repeat="result in vmMain.results">

    </div>
    <div ng-if="vmMain.results.length === 0">
      No hay hoteles en la zona que buscas
    </div>
  </div>

</div>
