<div class="alert alert-success">Reservation successfully</div>
<div class="row">
    <div class="col-md-12 bg-info">
        <div class="col-md-4 bg-info"><strong> Details Booking Room</strong></div>
        <div class="col-md-8">
            <div class="col-md-12">1</div>
            <div class="col-md-12">1</div>
            <div class="col-md-12">1</div>
        </div>
        <div class="col-md-4 "><strong>Data Bank</strong></div>
        <div class="col-md-8">
            <div class="col-md-12 text"><strong>Account Name:</strong> {{cuenta.accountName}} </div>
            <div class="col-md-12 text"><strong>AccountNumber:</strong>{{cuenta.accountNumber}}</div>
            <div class="col-md-12 text"><strong>Concept:</strong>{{cuenta.concept}}</div>
        </div>
    </div>
</div>
