<div class="alert alert-success">Reserva realizada con éxito</div>
<div class="row">
    <div class="col-md-12 bg-info">
        <div class="col-md-4 bg-info"><strong> Datos Reserva Habitación</strong></div>
        <div class="col-md-8">
            <div class="col-md-12">1</div>
            <div class="col-md-12">1</div>
            <div class="col-md-12">1</div>
        </div>
        <div class="col-md-4 "><strong>Datos Bancarios</strong></div>
        <div class="col-md-8">
            <div class="col-md-12" style="font-size: 12px"><strong># de Cuenta:</strong> {{cuenta.numeroCuenta}} </div>
            <div class="col-md-12" style="font-size: 12px"><strong>Nombre Cuenta:</strong>{{cuenta.nombreCuenta}}</div>
            <div class="col-md-12" style="font-size: 12px"><strong>Concepto Compra:</strong>{{cuenta.concepto}}</div>
        </div>
    </div>
</div>
