<p><h5 class="text-success"> <strong>DETALLE DE LA HABITACIÓN</strong></h5></p>
<div class="row" >
	<div class="col-md-4">
		<img src="{{greeting.image}}" class="img-thumbnail">
	</div>
	<div class="col-md-8">
		<div class="row" >
			<div class="col-md-12"><span class="text-info">Hotel:</span> {{greeting.hotel}}</div>
			<div class="col-md-12"><span class="text-info">Tipo Habitación:</span> {{greeting.type}}</div>
			<div class="col-md-12"><span class="text-info">Precio:</span> {{greeting.price}} €</div>
			<div class="col-md-12"><strong>Entretenimiento</strong></div>
			<div class="col-md-12">{{greeting.extraServices}}</div>
		</div>
	</div>
	
</div>